@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

.nav__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: #a38c8c;
  width: 100%;
  height: 10rem;
  margin-top: 7rem;
  margin-bottom: 8rem; }
  .nav__nav .nav__menu1 ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
    .nav__nav .nav__menu1 ul li {
      font-family: "Space Mono", monospace, !important;
      text-transform: uppercase;
      letter-spacing: .3rem;
      font-size: 1.5rem;
      padding: 1rem;
      margin: 0rem .5rem; }
      .nav__nav .nav__menu1 ul li a {
        text-decoration: none;
        color: whitesmoke; }
        .nav__nav .nav__menu1 ul li a:hover {
          color: #d2c2be;
          font-weight: normal !important; }
  .nav__nav .nav__logo img {
    height: 18rem;
    width: 18rem; }
  .nav__nav .nav__menu2 ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row; }
    .nav__nav .nav__menu2 ul li {
      font-family: "Space Mono", monospace, !important;
      text-transform: uppercase;
      letter-spacing: .3rem;
      font-size: 1.5rem;
      padding: 1rem;
      margin: 0rem .5rem; }
      .nav__nav .nav__menu2 ul li a {
        text-decoration: none;
        color: whitesmoke; }
        .nav__nav .nav__menu2 ul li a:hover {
          color: #d2c2be;
          font-weight: normal !important; }
  .nav__nav .nav__menu2 .nav__menu2--dropdown {
    background-color: #a38c8c;
    padding-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none; }
    .nav__nav .nav__menu2 .nav__menu2--dropdown .dropdown-item {
      color: whitesmoke;
      display: inline-block;
      width: 100%;
      padding-right: 1rem !important;
      font-family: "Space Mono", monospace, !important;
      text-transform: uppercase;
      letter-spacing: .3rem;
      font-size: 1.3rem; }
      .nav__nav .nav__menu2 .nav__menu2--dropdown .dropdown-item:hover {
        background-color: #a38c8c !important;
        color: #d2c2be; }

.navbar-expand-lg .navbar-collapse {
  justify-content: center !important; }

/* MOBILE -------------------------------------------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  .nav__nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    margin: 3rem 0rem 3rem 0rem !important; }
    .nav__nav .mytoggle {
      position: absolute;
      left: 1rem;
      top: 6rem;
      font-size: 2rem;
      padding-top: 1rem;
      border-radius: 50%;
      color: #a38c8c !important;
      background-color: whitesmoke !important; }
    .nav__nav .nav__logo {
      order: 0;
      margin: -2rem 0rem; }
      .nav__nav .nav__logo img {
        height: 14rem;
        width: 14rem; }
    .nav__nav .nav__menu1 {
      order: 1;
      margin-top: 3rem; }
      .nav__nav .nav__menu1 ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        .nav__nav .nav__menu1 ul li:hover {
          color: #d2c2be; }
        .nav__nav .nav__menu1 ul li a {
          color: whitesmoke; }
    .nav__nav .nav__menu2 {
      order: 2; }
      .nav__nav .nav__menu2 ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        .nav__nav .nav__menu2 ul li:hover {
          color: #d2c2be; }
        .nav__nav .nav__menu2 ul li a {
          color: whitesmoke; } }

/* TABLET -------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .nav__nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    margin-bottom: 3rem !important; }
    .nav__nav .mytoggle {
      position: absolute;
      left: 3rem;
      top: 13rem;
      font-size: 2rem;
      padding-top: 1rem;
      border-radius: 50%;
      color: #a38c8c !important;
      background-color: whitesmoke !important; }
    .nav__nav .nav__logo {
      order: 0;
      margin: -2rem 0rem; }
    .nav__nav .nav__menu1 {
      order: 1;
      margin-top: 3rem; }
      .nav__nav .nav__menu1 ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        .nav__nav .nav__menu1 ul li:hover {
          color: #d2c2be; }
        .nav__nav .nav__menu1 ul li a {
          color: whitesmoke; }
    .nav__nav .nav__menu2 {
      order: 2; }
      .nav__nav .nav__menu2 ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        .nav__nav .nav__menu2 ul li:hover {
          color: #d2c2be; }
        .nav__nav .nav__menu2 ul li a {
          color: whitesmoke; } }

/* Footer */
.footer {
  background-color: #a38c8c;
  margin-top: 5rem;
  padding-bottom: 5rem;
  padding-top: 5rem; }
  .footer .footer__seccion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row; }
    .footer .footer__seccion .footer__div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row; }
      .footer .footer__seccion .footer__div .footer__logo {
        height: 8rem;
        width: 8rem;
        margin-top: 1rem; }
      .footer .footer__seccion .footer__div .footer__slogan {
        font-family: "Space Mono", monospace;
        letter-spacing: 0.2rem;
        font-size: 1.5rem;
        color: whitesmoke;
        margin: 1rem 0rem 0rem 3rem; }
    .footer .footer__seccion .footer__seguinos {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row; }
      .footer .footer__seccion .footer__seguinos .footer__title {
        font-family: "Source Code Pro", monospace;
        font-size: 1.8rem;
        color: whitesmoke;
        letter-spacing: 0.3px;
        font-weight: 400;
        margin: 1rem; }
      .footer .footer__seccion .footer__seguinos a {
        text-decoration: none;
        color: whitesmoke; }
        .footer .footer__seccion .footer__seguinos a:hover {
          font-weight: bold;
          text-decoration: none;
          color: #d2c2be; }
        .footer .footer__seccion .footer__seguinos a #instaLogo {
          font-size: 2.4rem;
          transition: 0.3s; }
          .footer .footer__seccion .footer__seguinos a #instaLogo:hover {
            transform: scale(1.1, 1.1); }
    .footer .footer__seccion .footer__escribinos {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row; }
      .footer .footer__seccion .footer__escribinos .footer__title {
        font-family: "Source Code Pro", monospace;
        font-size: 1.8rem;
        color: whitesmoke;
        letter-spacing: 0.3px;
        font-weight: 400;
        margin: 1rem; }
      .footer .footer__seccion .footer__escribinos a {
        text-decoration: none;
        color: whitesmoke; }
        .footer .footer__seccion .footer__escribinos a:hover {
          font-weight: bold;
          text-decoration: none;
          color: #d2c2be; }
        .footer .footer__seccion .footer__escribinos a #whatssapLogo {
          font-size: 2.4rem;
          transition: 0.3s; }
          .footer .footer__seccion .footer__escribinos a #whatssapLogo:hover {
            transform: scale(1.1, 1.1); }

/* MOBILE -------------------------------------------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  .footer .footer__seccion {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem; }
    .footer .footer__seccion .footer__div {
      margin: 1rem; }
      .footer .footer__seccion .footer__div a {
        padding: 0rem; }
        .footer .footer__seccion .footer__div a .footer__logo {
          height: 8rem;
          width: 8rem; }
      .footer .footer__seccion .footer__div .footer__slogan {
        font-family: "Space Mono", monospace;
        letter-spacing: 0.2rem;
        font-size: 1.4rem;
        margin: 0rem;
        padding: 0rem 0rem 0rem 2rem;
        width: 70%;
        letter-spacing: 0px;
        word-spacing: 0px;
        font-weight: 300; }
    .footer .footer__seccion .footer__seguinos .footer__title {
      font-family: "Source Code Pro", monospace;
      font-size: 1.5rem;
      letter-spacing: 0.3px;
      margin: 1rem; }
    .footer .footer__seccion .footer__seguinos a #instaLogo {
      font-size: 1.8rem; }
    .footer .footer__seccion .footer__escribinos .footer__title {
      font-family: "Source Code Pro", monospace;
      font-size: 1.5rem;
      letter-spacing: 0.3px;
      margin: 1rem; }
    .footer .footer__seccion .footer__escribinos a #whatssapLogo {
      font-size: 1.8rem; } }

/* TABLET -------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .footer .footer__seccion .footer__div .footer__slogan {
    font-family: "Space Mono", monospace;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    color: whitesmoke;
    margin: 1rem 0rem 0rem 1rem; }
  .footer .footer__seccion .footer__seguinos .footer__title {
    font-family: "Source Code Pro", monospace;
    font-size: 1.5rem; }
  .footer .footer__seccion .footer__seguinos a #instaLogo {
    font-size: 2.2rem; }
  .footer .footer__seccion .footer__escribinos .footer__title {
    font-family: "Source Code Pro", monospace;
    font-size: 1.5rem; }
  .footer .footer__seccion .footer__escribinos a #whatssapLogo {
    font-size: 2.4rem; } }

/* Inicio home */
body {
  background-image: url(../assets/img/fondo.jpg); }

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; }
  .home .home__photosLeft .home__photoLeft--wallpaper {
    display: inline-flex;
    position: absolute;
    z-index: -1;
    top: 1px;
    left: 5px;
    width: 98%;
    height: auto; }
  .home .home__photosLeft img {
    width: 40%;
    height: auto;
    margin: 1rem; }
  .home .home__photosLeft .home__img1 {
    margin-top: 1rem;
    margin-left: 2rem; }
  .home .home__photosLeft .home__img2 {
    margin-top: 11rem;
    margin-left: 1rem; }
  .home .home__photosLeft .home__photoLeft--flower {
    display: none; }
  .home .home__slogan {
    color: #30170e;
    font-family: "Space Mono", monospace; }
    .home .home__slogan h3 {
      text-align: start;
      letter-spacing: .8rem;
      padding: 1rem;
      margin: 2rem .5rem .5rem .5rem;
      font-size: 3rem;
      line-height: 4rem;
      text-shadow: 2px 2px 1px #d2c2be; }
    .home .home__slogan p {
      font-family: "Space Mono", monospace, !important;
      font-size: 2rem;
      color: #3d2515;
      font-weight: bold;
      text-align: center;
      padding: 0.5rem;
      margin: 1rem 3rem 1rem 3rem;
      line-height: 2.5rem; }
      .home .home__slogan p strong {
        color: #240b02;
        text-shadow: 1px 0px 1px #3d2515; }
  .home .home__photosRight .home__photoRight--wallpaper {
    display: inline-flex;
    position: absolute;
    z-index: -1;
    top: 1px;
    right: 5px;
    width: 98%;
    height: auto; }
  .home .home__photosRight img {
    width: 38%;
    height: auto;
    margin: 1rem; }
  .home .home__photosRight .home__img3 {
    margin-top: -8rem;
    margin-right: 1rem; }
  .home .home__photosRight .home__img4 {
    margin-top: 5rem;
    margin-right: -1rem; }

/* Inicio Cubos */
.cubosContenedorPrincipal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 10rem; }
  .cubosContenedorPrincipal .cubo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #d2c2be;
    height: 20rem;
    width: 30%;
    border-radius: 35px;
    box-shadow: 3px 3px 10px #a38c8c; }
    .cubosContenedorPrincipal .cubo .imagenCubo {
      align-content: flex-start; }
      .cubosContenedorPrincipal .cubo .imagenCubo img {
        width: auto;
        height: 18rem;
        margin: 2rem 1rem 2rem 2rem;
        border-radius: 35px; }
    .cubosContenedorPrincipal .cubo .textoCubo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .cubosContenedorPrincipal .cubo .textoCubo h1 {
        font-family: "Space Mono", monospace, !important;
        text-transform: uppercase;
        letter-spacing: .3rem;
        font-size: 1.9rem;
        color: #30170e;
        font-weight: bold; }

/* MOBILE -------------------------------------------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .home .home__photosLeft .home__photoLeft--wallpaper {
      display: block;
      position: absolute;
      z-index: -1;
      top: 1px;
      left: 5px;
      width: 90%;
      height: auto; }
    .home .home__photosLeft img {
      width: 35%; }
    .home .home__photosLeft .home__img1 {
      margin-top: .5rem;
      margin-left: 4rem; }
    .home .home__photosLeft .home__img2 {
      margin-top: 12rem;
      margin-left: .5rem; }
    .home .home__slogan h3 {
      line-height: 3rem;
      text-align: center;
      margin-top: 1rem;
      font-size: 2.8rem;
      letter-spacing: 2px; }
    .home .home__slogan p {
      margin-bottom: 8rem;
      margin: 1rem .5rem 7rem .5rem;
      font-size: 1.6rem; }
    .home .home__photosRight .home__photoRight--wallpaper {
      display: block;
      position: absolute;
      z-index: -1;
      top: 1px;
      left: 5px;
      width: 90%;
      height: auto; }
    .home .home__photosRight img {
      width: 38%; }
    .home .home__photosRight .home__img3 {
      margin-bottom: 10rem;
      margin-left: 4rem; }
    .home .home__photosRight .home__img4 {
      margin-top: 6rem;
      margin-bottom: 9rem; }
  .cubosContenedorPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0rem; }
    .cubosContenedorPrincipal .cubo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      height: 15rem;
      width: 80%;
      max-width: 30rem;
      border-radius: 25px;
      margin: 1rem 0rem; }
      .cubosContenedorPrincipal .cubo .imagenCubo {
        align-content: flex-start; }
        .cubosContenedorPrincipal .cubo .imagenCubo img {
          width: auto;
          height: 13rem;
          margin: 1rem;
          border-radius: 25px; }
      .cubosContenedorPrincipal .cubo .textoCubo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        .cubosContenedorPrincipal .cubo .textoCubo h1 {
          font-family: "Space Mono", monospace, !important;
          text-transform: uppercase;
          letter-spacing: .3rem;
          font-size: 1.3rem;
          margin: 0rem;
          margin-bottom: 1.5rem; } }

/* PÁGINA NOSOTRAS */
.nosotras__img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .nosotras__img .nosotras__wallpaper {
    position: absolute;
    z-index: -1;
    width: 45rem;
    height: auto; }
  .nosotras__img img {
    height: auto;
    width: 35rem; }

.nosotras__info {
  margin-bottom: 4rem; }
  .nosotras__info h3 {
    font-family: "Space Mono", monospace;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 1.5rem;
    color: #30170e;
    padding: 1.5rem;
    margin: 2.5rem 2rem 2rem 2rem; }
  .nosotras__info p {
    font-family: "Space Mono", monospace;
    font-weight: bold;
    text-align: justify;
    font-size: 1.7rem;
    word-spacing: 3px;
    color: #3d2515;
    padding: 1rem;
    margin: 0rem 8rem 1rem 2rem; }
    .nosotras__info p strong {
      color: #240b02;
      text-shadow: 1px 0px 1px #3d2515; }

/* MOBILE -------------------------------------------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  .nosotras__img {
    margin-top: 3rem; }
    .nosotras__img .nosotras__wallpaper {
      max-width: 60%; }
    .nosotras__img img {
      max-width: 50%; }
  .nosotras__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem; }
    .nosotras__info h3 {
      font-family: "Space Mono", monospace;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      font-size: 2rem;
      letter-spacing: 1.5rem;
      color: #30170e;
      padding: 1rem;
      margin-top: 5.5rem; }
    .nosotras__info p {
      font-family: "Space Mono", monospace;
      font-weight: bold;
      text-align: justify;
      font-size: 1.5rem;
      word-spacing: 3px;
      color: #3d2515;
      padding: 1rem;
      margin: 0rem 1rem 2rem 1rem; } }

.galeria {
  margin-top: 2rem; }
  .galeria div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap; }
  .galeria img {
    height: auto;
    width: 15rem;
    transition: 1s; }
    .galeria img:hover {
      transform: scale(1.05, 1.05); }

/* MOBILE -------------------------------------------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  .galeria {
    margin-top: .5rem; }
    .galeria div {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row; }
    .galeria img {
      height: auto;
      width: 60%;
      margin: 0.5rem; }
      .galeria img:hover {
        transform: scale(1.02, 1.02); } }

/* CUIDADOS */
.cuidados__img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .cuidados__img img {
    height: 30rem;
    width: auto;
    margin: 1rem; }

.cuidados--padding {
  padding: 0rem;
  margin-bottom: 1rem; }

.cuidados__row {
  margin: 0rem; }

.cuidados .cuidados__title--wallpaper {
  background: linear-gradient(to right, #f0ede8, #e0dad9);
  width: 100%; }
  .cuidados .cuidados__title--wallpaper .cuidados__title {
    font-family: "Space Mono", monospace;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    color: #30170e;
    text-align: center;
    padding: 2rem;
    margin: 3rem 0rem; }

.cuidados p {
  font-family: "Space Mono", monospace;
  font-weight: bold;
  text-align: justify;
  font-size: 1.5rem;
  word-spacing: 3px;
  color: #3d2515;
  padding: 1rem;
  margin: 2rem; }
  .cuidados p strong {
    color: #240b02;
    text-shadow: 1px 0px 1px #3d2515; }

.cuidados li {
  font-family: "Space Mono", monospace;
  font-weight: bold;
  text-align: justify;
  font-size: 1.5rem;
  word-spacing: 3px;
  color: #3d2515;
  margin: 1rem 3rem 2rem 8rem;
  line-height: 2rem; }
  .cuidados li strong {
    color: #240b02;
    text-shadow: 1px 0px 1px #3d2515; }

.cuidados .cuidados__img--mobile {
  display: none; }

/* MOBILE -------------------------------------------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  .cuidados--padding {
    padding: 0rem; }
  .cuidados__row {
    margin: 0rem; }
  .cuidados__img {
    display: none; }
  .cuidados {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%; }
    .cuidados .cuidados__title--wallpaper .cuidados__title {
      font-family: "Space Mono", monospace;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.6rem;
      letter-spacing: 0.1rem;
      width: 100%;
      padding: 1rem;
      margin: 1.5rem 0rem; }
    .cuidados p {
      margin: 1.5rem; }
    .cuidados li {
      max-width: 75%;
      margin: 1.5rem 1.5rem 1.5rem 6rem; }
    .cuidados .cuidados__img--mobile {
      display: inline-block;
      height: auto;
      width: 50vw;
      margin: 1rem; } }

.contacto--padding {
  padding: 0rem; }

.form__img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .form__img img {
    height: auto;
    width: 95%;
    margin-left: 3rem; }

.columnasform {
  width: auto; }

.form {
  margin-left: 4rem; }
  .form .form__title h1 {
    font-family: "Space Mono", monospace;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.8rem;
    letter-spacing: 1rem;
    color: #30170e;
    padding: 0rem;
    margin: 0rem 0rem 4.5rem 0rem; }
  .form .form__subtitle {
    font-family: "Space Mono", monospace;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    text-align: start;
    color: #30170e;
    margin: 0rem;
    padding: 2.5rem 0rem 1rem 0rem; }
  .form .form__data {
    font-family: "Space Mono", monospace, !important;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 1.5rem;
    color: #3d2515;
    margin: 0rem;
    padding: 1rem 0rem .5rem 0rem;
    text-align: center; }
  .form .form__info--input {
    width: 20rem;
    height: 2.2rem;
    background-color: #f0ede8;
    border: 0.1rem solid #a38c8c; }
  .form .form__textarea {
    font-family: "Source Code Pro", monospace;
    font-size: 1.5rem;
    color: #30170e;
    background-color: #f0ede8;
    border: 0.1rem solid #a38c8c;
    margin: 1rem 0rem; }
    .form .form__textarea:active {
      border: 0.1rem solid #a38c8c; }
  .form .form__attachImg {
    font-family: "Space Mono", monospace, !important;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 1.3rem;
    color: #30170e;
    background-color: #f0ede8;
    border: 0.1rem solid #a38c8c;
    margin: 1rem 0rem; }
    .form .form__attachImg:active {
      border: 0.1rem solid #a38c8c; }
  .form button {
    margin: 2rem 2rem 2rem 1rem; }

/* EDICIÓN DE BOTONES CHECKBOX */
.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px; }

.form__input {
  display: none; }

.form__radio {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #a38c8c;
  border-radius: 0%;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 2px; }

.form__radio:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: #af7266;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.15s; }

.form__input:checked + .form__radio:after {
  transform: scale(1); }

/* MOBILE -------------------------------------------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  .contacto--padding {
    padding: 0rem; }
  .contacto__row {
    margin: 0rem; }
  .form__img img {
    display: none; }
  .form {
    margin-left: 1.8rem; }
    .form .form__info--input {
      width: 25rem;
      height: 3rem;
      background-color: #f0ede8;
      border: 0.1rem solid #a38c8c; }
    .form .form__title h1 {
      font-family: "Space Mono", monospace;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      font-size: 2.5rem;
      letter-spacing: 0.5rem;
      text-align: center;
      padding: 1rem;
      margin: 1rem 2rem; }
    .form .form__textarea {
      max-width: 90%; }
  #form__set {
    font-size: 1.2rem; } }

.buttonStyle {
  background-color: #d39285;
  color: whitesmoke;
  font-family: "Space Mono", monospace, !important;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-size: 1.6rem;
  padding: 0.3rem 2.5rem;
  border: 0;
  box-shadow: 1px 1px 2px #a38c8c;
  letter-spacing: 1.5px;
  border-radius: 5px;
  transition: 1s; }
  .buttonStyle:hover {
    background-color: #af7266;
    transform: scale(1.1, 1.05); }
  .buttonStyle:active {
    background-color: whitesmoke;
    letter-spacing: 0.3rem; }
  .buttonStyle a {
    color: whitesmoke;
    text-decoration-line: none; }
    .buttonStyle a:active {
      color: #af7266; }

/* MOBILE -------------------------------------------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  .buttonStyle {
    font-family: "Space Mono", monospace, !important;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 1.2rem;
    padding: 0.3rem 1.3rem;
    border: 0;
    letter-spacing: .5px;
    border-radius: 5px;
    transition: 1s; }
    .buttonStyle:hover {
      background-color: #af7266;
      transform: scale(1.05, 1.05); }
    .buttonStyle:active {
      background-color: whitesmoke;
      letter-spacing: 0.3rem; }
    .buttonStyle a {
      color: whitesmoke;
      text-decoration-line: none; }
      .buttonStyle a:active {
        color: #af7266; } }

.error__body {
  background-image: url("../../assets/img/fondo.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }
  .error__body .heart {
    font-size: 20rem;
    color: #a38c8c; }
  .error__body h1 {
    font-family: "Space Mono", monospace, !important;
    font-size: 2rem;
    font-weight: bold;
    color: #a38c8c; }
  .error__body button {
    font-family: "Space Mono", monospace, !important;
    font-size: 1.8rem;
    background-color: #a38c8c;
    margin: 2rem;
    padding: 1rem;
    border-radius: 5%;
    border: 0px; }
    .error__body button:hover {
      background-color: #8b7777; }
    .error__body button:active {
      background-color: #a38c8c; }
    .error__body button a {
      text-decoration: none;
      color: whitesmoke; }

.comocomprar__row, .comocomprar__container-fluid, .columns {
  padding: 0rem;
  margin: 0rem; }

/* Opcion de formulario o whatssap */
h1 {
  font-family: "Space Mono", monospace, !important;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-size: 2rem;
  color: #30170e;
  margin: 2rem 3rem;
  text-align: center; }
  h1 strong {
    color: #240b02; }
    h1 strong a {
      color: #30170e;
      text-decoration: none; }
      h1 strong a:hover {
        color: #a38c8c;
        text-decoration: none;
        text-shadow: none; }

.comocomprar__formwp {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row; }
  .comocomprar__formwp .comocomprar__formwp--form, .comocomprar__formwp .comocomprar__formwp--wp {
    background-color: #d2c2be;
    border-radius: 50%;
    color: #f0ede8;
    height: 14rem;
    width: 14rem;
    text-align: center;
    margin: 2rem 3rem; }
  .comocomprar__formwp a .comocomprar__icon {
    color: whitesmoke;
    text-shadow: 1px 1px 5px #a38c8c;
    font-size: 10rem;
    transition: 1s;
    margin: 2rem; }
    .comocomprar__formwp a .comocomprar__icon:hover {
      transform: scale(1.1, 1.1); }
  .comocomprar__formwp a:hover {
    color: #d2c2be; }

.nuevoDiv {
  padding-bottom: 3rem; }

/* General pasos */
.comocomprar__paso {
  background: linear-gradient(to left, #f0ede8, #e0dad9);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row; }
  .comocomprar__paso .comocomprar__num {
    background-color: #a38c8c;
    border-radius: 50%;
    color: #f0ede8;
    height: 4rem;
    width: 4rem;
    text-align: center;
    font-family: "Space Mono", monospace, !important;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 2.5rem;
    margin: 1rem 3rem; }
  .comocomprar__paso h2 {
    font-family: "Space Mono", monospace;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    color: #30170e; }

/* Tres opciones de producto */
.comocomprar__paso1--img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row; }
  .comocomprar__paso1--img img {
    width: 15rem;
    height: auto;
    margin: 2rem; }

/* Paso 2 */
.comocomprar__paso2--img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; }
  .comocomprar__paso2--img img {
    width: 37rem;
    height: auto;
    margin: 3rem;
    box-shadow: 2px 2px 2px #a38c8c;
    border-color: 3px black; }

/* h3 h2 general */
h3 {
  font-family: "Space Mono", monospace;
  font-weight: bold;
  text-align: justify;
  font-size: 1.8rem;
  word-spacing: 3px;
  color: #3d2515;
  padding: 1rem;
  margin: 1.5rem 3rem; }

h2 {
  text-align: center;
  font-family: "Space Mono", monospace, !important;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-size: 2rem;
  color: #f0ede8; }

/* Forma de pago y entrega */
.comocomprar__paso3--2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row; }
  .comocomprar__paso3--2 .comocomprar__modopago {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #d2c2be;
    border-radius: 30px;
    box-shadow: 2px 2px 5px #a38c8c;
    padding: 3rem;
    margin: 2rem 0rem 4rem 0rem; }
    .comocomprar__paso3--2 .comocomprar__modopago .comocomprar__modopago3 {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row; }
      .comocomprar__paso3--2 .comocomprar__modopago .comocomprar__modopago3 img {
        width: 15rem;
        height: auto;
        margin: 1rem; }
  .comocomprar__paso3--2 .comocomprar__entrega {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #d2c2be;
    border-radius: 30px;
    box-shadow: 2px 2px 5px #a38c8c;
    padding: 3rem;
    margin: 2rem 0rem 4rem 0rem; }
    .comocomprar__paso3--2 .comocomprar__entrega .comocomprar__entrega2 {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row; }
      .comocomprar__paso3--2 .comocomprar__entrega .comocomprar__entrega2 img {
        width: 15rem;
        height: auto;
        margin: 1rem; }

/* MOBILE -------------------------------------------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  /* General */
  h1 {
    font-family: "Space Mono", monospace, !important;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 1.6rem;
    margin: 2rem 0.5rem; }
  .comocomprar__formwp .comocomprar__formwp--form, .comocomprar__formwp .comocomprar__formwp--wp {
    height: 8rem;
    width: 8rem; }
  .comocomprar__formwp a .comocomprar__icon {
    font-size: 5rem;
    margin-top: 1.5rem; }
  .comocomprar__row, .comocomprar__container-fluid, .columns {
    padding: 0rem;
    margin: 0rem; }
  .comocomprar__paso .comocomprar__num {
    height: 4.5rem;
    width: 4.5rem;
    font-family: "Space Mono", monospace, !important;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 2.5rem;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem; }
  .comocomprar__paso h2 {
    font-family: "Space Mono", monospace;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 0rem; }
  h3 {
    font-family: "Space Mono", monospace;
    font-weight: bold;
    text-align: justify;
    font-size: 1.5rem;
    word-spacing: 3px; }
  /* Paso 1 */
  .comocomprar__paso1--img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .comocomprar__paso1--img img {
      width: 12rem;
      margin: 1rem; }
  /* Paso 2 */
  .comocomprar__paso2--img img {
    width: 80%;
    height: auto;
    margin: 1rem 1rem 3rem 1rem; }
  /* Paso 3 */
  .comocomprar__paso3--2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .comocomprar__paso3--2 .comocomprar__entrega {
      border-radius: 20px;
      width: 70%;
      padding: 2rem; }
      .comocomprar__paso3--2 .comocomprar__entrega .comocomprar__entrega2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        .comocomprar__paso3--2 .comocomprar__entrega .comocomprar__entrega2 img {
          width: 12rem; }
    .comocomprar__paso3--2 .comocomprar__modopago {
      border-radius: 20px;
      width: 70%;
      padding: 2rem; }
      .comocomprar__paso3--2 .comocomprar__modopago .comocomprar__modopago3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        .comocomprar__paso3--2 .comocomprar__modopago .comocomprar__modopago3 img {
          width: 12rem; } }
