<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lilhué - Cómo Comprar</title>
    <!-- SEO -->
    <meta name="description"
    content="¿Cómo ordenar tu mate personalizado? Seguí estos simples pasos.">
    <meta name="keywords"
    content="mate, personalizado, pintado a mano, algarrobo, madera, retratos, bombilla, azucarera">
    <!-- Link para logos redes sociales -->
    <script src="https://kit.fontawesome.com/e360217846.js" crossorigin="anonymous"></script>
    <!-- Links Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;700&family=Space+Mono&display=swap" rel="stylesheet">
    <!-- Link Animaciones CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Link Boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Link nuestro CSS -->
    <link href="../css/style.css" type="text/css" rel="stylesheet">
</head>
<body>

    <!-- NAVEGADOR -->
    <nav class="navbar-expand-lg nav__nav">
            
        <button class="navbar-toggler mytoggle" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="navbar-toggler-icon fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse nav__menu1" id="navbarNavDropdown">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./nosotras.html">Nosotras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./cuidados.html">Cuidados</a>
            </li>
        </div>

        <div class="nav__logo"><a class="navbar-brand" href="../index.html"><img src="../assets/img/Logo.png" alt="logo"></a></div>

        <div class="collapse navbar-collapse nav__menu2" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="./galeria.html">Galería</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="./comocomprar.html">Cómo Comprar</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contacto
            </a>
            <div class="dropdown-menu nav__menu2--dropdown" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item nav__menu2--dropdownItem" href="./pedidos.html">Pedidos</a>
                <a class="dropdown-item nav__menu2--dropdownItem" href="./consultas.html">Consultas</a>
            </div>
            </li>
        </ul>
        </div>

    </nav>

  <!-- FIN NAVEGADOR -->

  <!-- Inicio Cómo Comprar -->

  <div class="container-fluid comocomprar__container-fluid">
    <div class="row comocomprar__row">
      <div class="col-12 col-lg-12 col-xl-12 columns">
        <!-- OPCIONES PARA CONTACTARSE -->
        <h1>Para adquirir tu producto Lilhué podes 
          <br>
          completar nuestro <strong><a href="./pedidos.html">formulario</a></strong> o dejarnos un mensaje en <strong><a href="https://api.whatsapp.com/send?phone=5492304514483" target="_blank">Whatsapp</a></strong>:</h1>
          <div class="comocomprar__formwp">
            <div class="comocomprar__formwp--form">
              <a href="./pedidos.html"><i class="fas fa-file-alt comocomprar__icon"></i></a>
            </div>
            <div class="comocomprar__formwp--wp">
              <a href="https://api.whatsapp.com/send?phone=5492304514483" target="_blank"><i class="fab fa-whatsapp-square comocomprar__icon"></i></a>
            </div>
          </div>
        <h1 class="nuevoDiv">Completando nuestro formulario vas a poder:</h1>
        <!-- PASO 1 -->
        <div class="comocomprar__paso">
          <div class="comocomprar__num">1</div>
          <h2>Elegir tu producto Lilhué</h2>
        </div>
        <div class="comocomprar__paso1--img">
          <img data-aos-duration="1500" data-aos="zoom-in" src="../assets/img/opcion1.png" alt="mate + azucarera + yerbera"/>
          <img data-aos-duration="1500" data-aos="zoom-in" src="../assets/img/opcion2.png" alt="mate"/>
          <img data-aos-duration="1500" data-aos="zoom-in" src="../assets/img/opcion3.png" alt="cuadro"/>
        </div>
        <!-- PASO 2 -->
        <div class="comocomprar__paso">
          <div class="comocomprar__num">2</div>
          <h2>Elegir tu diseño</h2>
        </div>
        <div class="comocomprar__paso2">
          <h3>Podes adjuntarnos una foto de referencia y/o describirnos tu diseño.</h3>
          <div class="comocomprar__paso2--img">
            <img data-aos-duration="1500" data-aos="zoom-in" src="../assets/img/paso2.png" alt="Se muestra dónde adjuntar archivos"/>
          </div>
        </div>
        <!-- PASO 3 -->
        <div class="comocomprar__paso">
          <div class="comocomprar__num">3</div>
          <h2>Forma de contacto</h2>
        </div>
        <h3>- Whatssap
          <br>
          - Llamada telefónica
          <br>
          - Email
          <br>
          <br>
          Este paso es muy importante ya que contactandonos con vos vas a poder elegir:</h3>
        <div class="comocomprar__paso3--2">
          <div class="comocomprar__modopago">
            <h2>Modo de pago</h2>
              <div class="comocomprar__modopago3">
                <img data-aos-duration="1500" data-aos="zoom-in" src="../assets/img/pago1.png" alt="Efectivo"/>
                <img data-aos-duration="1500" data-aos="zoom-in" src="../assets/img/pago2.png" alt="Mercado Pago"/>
                <img data-aos-duration="1500" data-aos="zoom-in" src="../assets/img/pago3.png" alt="Transferencia Bancaria"/>
              </div>
          </div>
          <div class="comocomprar__entrega">
            <h2>Forma de entrega</h2>
            <div class="comocomprar__entrega2">
              <img data-aos-duration="1500" data-aos="zoom-in" src="../assets/img/entrega1.png" alt="Correo Argentino"/>
              <img data-aos-duration="1500" data-aos="zoom-in" src="../assets/img/entrega2.png" alt="Punto de Encuentro (Pilar)"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Fin Cómo Comprar -->

  <!-- FOOTER -->

  <div class="footer">
    <div class="footer__seccion">
      <!-- Logo marca -->
      <div class="footer__div">
        <a class="nav-link" href="../index.html"><img class="footer__logo" src="../assets/img/Logo Footer.png" alt="Logo de la marca"/></a>
        <h3 class="footer__slogan">Dale alma a tu espacio</h3>
      </div>

      <!-- Seguinos -->
      <div class="footer__seguinos">
        <h1 class="footer__title">¡Seguinos!</h1>
        <a href="https://www.instagram.com/lilhue.art/?hl=es-la" target="_blank"><i id="instaLogo" class="fab fa-instagram"></i></a>
      </div>

      <!-- Escribinos -->
      <div class="footer__escribinos">
        <h1 class="footer__title">¡Escribinos!</h1>
        <a href="https://api.whatsapp.com/send?phone=5492304514483" target="_blank"><i id="whatssapLogo" class="fa fa-whatsapp"></i></a>
      </div>
    </div>

  </div>

  <!-- FIN FOOTER -->
    
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
AOS.init();
</script>
<!-- Boostrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>