.error__body {
    background-image:url("../../assets/img/fondo.jpg");
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100%;
    .heart {
        font-size: 20rem;
        color:$primary-color;
    }
    h1{
        @include secondary-font(2rem);
        font-weight: bold;
        color:$primary-color;
    }
    button {
        @include secondary-font(1.8rem);
        background-color:$primary-color;
        margin:2rem;
        padding:1rem;
        border-radius: 5%;
        border: 0px;
        &:hover{background-color:#8b7777;}
        &:active{background-color:$primary-color;}
        a {
            text-decoration: none;
            color:$tertiary-color;
        }
    }
}