.comocomprar__row, .comocomprar__container-fluid, .columns {padding: 0rem; margin:0rem;}

/* Opcion de formulario o whatssap */

h1 {
    @include main-font(2rem);
    color:$heading-color;
    margin: 2rem 3rem;
    text-align: center;
        strong {
            color:$bold-color;
            a {
                color:$heading-color;
                text-decoration: none;
                &:hover {
                    color:$primary-color;
                    text-decoration: none;
                    text-shadow: none;
                }
            }
        }
        
}
.comocomprar__formwp {
    @include flex(row, space-evenly);
    .comocomprar__formwp--form, .comocomprar__formwp--wp {
        background-color: $secondary-color;
        border-radius: 50%;
        color: $background-color2;
        height: 14rem;
        width: 14rem;
        text-align: center;
        margin: 2rem 3rem;
    }
    a {
        .comocomprar__icon {
            color: $tertiary-color;
            text-shadow: 1px 1px 5px $primary-color;
            font-size: 10rem;
            transition: 1s;
            margin:2rem;
            &:hover {transform: scale(1.1,1.1)}
        }
    &:hover {color:$secondary-color;}
    }
}

.nuevoDiv{
    padding-bottom: 3rem;
}

/* General pasos */

.comocomprar__paso {
    background: linear-gradient(to left, #f0ede8, #e0dad9);
    width: 100%;
    @include flex(row,flex-start);
    .comocomprar__num {
        background-color: $primary-color;
        border-radius: 50%;
        color: $background-color2;
        height: 4rem;
        width: 4rem;
        text-align: center;
        @include main-font(2.5rem);
        margin: 1rem 3rem;
    }
    h2 {
        @include title-font(2rem, .5rem);
        color:$heading-color;
    }
}

/* Tres opciones de producto */

.comocomprar__paso1--img {
    @include flex(row, space-evenly);
    img {
        width: 15rem;
        height: auto;
        margin:2rem;
    }
}

/* Paso 2 */

.comocomprar__paso2--img {
    @include flex(row, center);
    img {
        width: 37rem;
        height: auto;
        margin:3rem;
        box-shadow: 2px 2px 2px $primary-color;
        border-color: 3px black;
    }
}

/* h3 h2 general */

h3 {
    @include info-font(1.8rem);
    color:$text-color;
    padding: 1rem;
    margin: 1.5rem 3rem;
}

h2{
    text-align: center;
    @include main-font(2rem);
    color:$background-color2;
}

/* Forma de pago y entrega */

.comocomprar__paso3--2 {
    @include flex(row, space-evenly);
    .comocomprar__modopago {
        @include flex(column, center);
        background-color: $secondary-color;
        border-radius: 30px;
        box-shadow: 2px 2px 5px $primary-color;
        padding: 3rem;
        margin:2rem 0rem 4rem 0rem;
        .comocomprar__modopago3 {
            @include flex(row, space-evenly);
            img {
                width: 15rem;
                height: auto;
                margin:1rem;
            }
        }
    }
    .comocomprar__entrega {
        @include flex(column, center);
        background-color: $secondary-color;
        border-radius: 30px;
        box-shadow: 2px 2px 5px $primary-color;
        padding: 3rem;
        margin:2rem 0rem 4rem 0rem;
        .comocomprar__entrega2 {
            @include flex(row, space-evenly);
            img {
                width: 15rem;
                height: auto;
                margin:1rem; 
            }
        }
    }

}


/* MOBILE -------------------------------------------------------------------------------------*/

@media screen and (min-width: 0px) and (max-width: 767px) {

    /* General */

    h1 {
        @include main-font(1.6rem);
        margin: 2rem 0.5rem;
    }
    .comocomprar__formwp {
        .comocomprar__formwp--form, .comocomprar__formwp--wp {
            height: 8rem;
            width: 8rem;
        }
        a {
            .comocomprar__icon {
                font-size: 5rem;
                margin-top: 1.5rem;
            }
        }
    }

    .comocomprar__row, .comocomprar__container-fluid, .columns {padding: 0rem; margin:0rem;}
    .comocomprar__paso {
        .comocomprar__num {
            height: 4.5rem;
            width: 4.5rem;
            @include main-font(2.5rem);
            text-align: center;
            margin-left: 1rem;
            margin-right:1rem;
        }
        h2 {@include title-font(1.6rem, 0rem);}
    }
    
    h3 {@include info-font(1.5rem);}

    /* Paso 1 */

    .comocomprar__paso1--img {
        @include flex(column, center);
        img {
            width: 12rem;
            margin:1rem;
        }
    }

    /* Paso 2 */

    .comocomprar__paso2--img {
        img {
            width: 80%;
            height: auto;
            margin:1rem 1rem 3rem 1rem;
        }
    }

    /* Paso 3 */

    .comocomprar__paso3--2 {@include flex(column, center);
        .comocomprar__entrega {
            border-radius: 20px;
            width:70%;
            padding:2rem;
            .comocomprar__entrega2{@include flex(column, center);
                img {width: 12rem;}}
        }
    
        .comocomprar__modopago {
            border-radius: 20px;
            width:70%;
            padding: 2rem;
            .comocomprar__modopago3{@include flex(column, center);
                img {width: 12rem;}}
        }
    }
} 
