.contacto--padding {padding:0rem;}

.form__img {
    @include flex(column, center);
    img {
        height: auto;
        width: 95%;
        margin-left: 3rem;
    }
}

.columnasform{
    width: auto;
}
.form {
    margin-left: 4rem;
    .form__title h1 {
        @include title-font(2.8rem, 1rem);
        color:$heading-color;
        padding: 0rem;
        margin: 0rem 0rem 4.5rem 0rem;
    }
    .form__subtitle {
        @include title-font(1.5rem, .3rem);
        text-align: start;
        color:$heading-color;
        margin: 0rem;
        padding: 2.5rem 0rem 1rem 0rem;
    }
    .form__data {
        @include main-font(1.5rem);
        color:$text-color;
        margin: 0rem;
        padding: 1rem 0rem .5rem 0rem;
        text-align: center;
    }
    .form__info--input {
        width: 20rem;
        height: 2.2rem;
        background-color:$background-color2;
        border: 0.1rem solid $primary-color;
    }
    .form__textarea {
        @include tertiary-font(1.5rem);
        color:$heading-color;
        background-color:$background-color2;
        border: 0.1rem solid $primary-color;
        &:active {border: 0.1rem solid $primary-color;}
        margin:1rem 0rem;
    }
    .form__attachImg {
        @include main-font(1.3rem);
        color:$heading-color;
        background-color:$background-color2;
        border: 0.1rem solid $primary-color;
        &:active {border: 0.1rem solid $primary-color;}
        margin:1rem 0rem;
    }
    button {margin:2rem 2rem 2rem 1rem;}
}

/* EDICIÓN DE BOTONES CHECKBOX */

.radio {
    display:inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}
.form__input {display:none;}
.form__radio {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid $primary-color;
    border-radius: 0%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 2px;
}
.form__radio:after {
    content: "";
    width:100%;
    height:100%;
    display:block;
    background: $detail-color;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.15s;
}
.form__input:checked + .form__radio:after {
    transform: scale(1);
}

/* MOBILE -------------------------------------------------------------------------------------*/

@media screen and (min-width: 0px) and (max-width: 767px) {

    .contacto--padding {padding:0rem;}
    .contacto__row {margin:0rem;}

    .form__img {
        img {
            display:none;
        }
    }

    .form {
        margin-left: 1.8rem;
        .form__info--input {
            width: 25rem;
            height: 3rem;
            background-color:$background-color2;
            border: 0.1rem solid $primary-color;
        }
        .form__title h1 {
            @include title-font(2.5rem, .5rem);
            text-align: center;
            padding: 1rem;
            margin: 1rem 2rem;
        }
        .form__textarea { max-width: 90%;}
    }
    #form__set{font-size: 1.2rem;}

}
