/* CUIDADOS */

.cuidados__img {
    @include flex(column, center);
    img {
        height:30rem;
        width: auto;
        margin:1rem;
    }
}

.cuidados--padding{padding:0rem; margin-bottom: 1rem;}
.cuidados__row {margin:0rem;}

.cuidados {
    .cuidados__title--wallpaper {
        background: linear-gradient(to right, #f0ede8, #e0dad9);
        width: 100%;
        .cuidados__title {
            @include title-font(2rem, .5rem);
            color:$heading-color;
            text-align: center;
            padding: 2rem;
            margin: 3rem 0rem;
        }
    }
    p {
        @include info-font(1.5rem);
        color:$text-color;
        padding: 1rem;
        margin: 2rem;
        strong {color:$bold-color; text-shadow: 1px 0px 1px $text-color;}
    }
    li {
        @include info-font(1.5rem);
        color:$text-color;
        margin: 1rem 3rem 2rem 8rem;
        line-height: 2rem;
        strong {color:$bold-color; text-shadow: 1px 0px 1px $text-color;}
    }
    .cuidados__img--mobile {
        display:none;
    }
}

/* MOBILE -------------------------------------------------------------------------------------*/

@media screen and (min-width: 0px) and (max-width: 767px) {

    .cuidados--padding {padding:0rem;}
    .cuidados__row {margin:0rem;}
    .cuidados__img {display:none;}
    .cuidados {
        @include flex(column, center);
        width: 100%;
        .cuidados__title--wallpaper {
            .cuidados__title {
                @include title-font(1.8rem, 0.1rem);
                width:100%;
                padding: 1rem;
                margin: 1.5rem 0rem;
            } 
        }
        p {margin:1.5rem;}
        li {
            max-width: 75%;
            margin: 1.5rem 1.5rem 1.5rem 6rem;}
        .cuidados__img--mobile {
            display: inline-block;
            height:auto;
            width: 50vw;
            margin:1rem;
        }
    }
} 

/* TABLET -------------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 992px) {

    .cuidados--padding {padding:0rem;}
    .cuidados__row {margin:0rem;}
    .cuidados__img {display:none;}
    .cuidados {
        @include flex(column, center);
        width: 100%;
        .cuidados__title--wallpaper {
            .cuidados__title {
                @include title-font(1.8rem, 0.1rem);
                width:100%;
                padding: 1rem;
                margin: 1.5rem 0rem;
            } 
        }
        p {margin:.5rem 4rem;}
        li {
            max-width: 75%;
            margin: 1.5rem 1.5rem 1.5rem 8rem;}
        .cuidados__img--mobile {
            display: inline-block;
            height:auto;
            width: 20vw;
            margin:1rem 0rem 3rem 0rem;
        }
    }
} 
