/* PÁGINA NOSOTRAS */

.nosotras__img {
    @include flex(column, center);
    .nosotras__wallpaper {
        position: absolute;
        z-index: -1;
        width:45rem;
        height:auto;
    }
    img{
        height:auto;
        width:35rem;
    }
}

.nosotras__info {
    h3 {
        @include title-font(3rem, 1.5rem);
        color:$heading-color;
        padding: 1.5rem;
        margin: 2.5rem 2rem 2rem 2rem;
    }
    p {
        @include info-font(1.7rem);
        color:$text-color;
        padding: 1rem;
        margin: 0rem 8rem 1rem 2rem;
        strong {color:$bold-color; text-shadow: 1px 0px 1px $text-color;}
    }
    margin-bottom: 4rem;
}

/* MOBILE -------------------------------------------------------------------------------------*/

@media screen and (min-width: 0px) and (max-width: 767px) {

    .nosotras__img {
        margin-top:3rem;
        .nosotras__wallpaper {
            max-width: 60%;
        }
        img{
            max-width: 50%;
        }
    }

    .nosotras__info {
        @include flex(column, center);
        h3 {
            @include title-font(2.3rem, 1.5rem);
            color:$heading-color;
            padding: 1rem;
            margin-top: 5.5rem;
        }
        p {
            @include info-font(1.5rem);
            color:$text-color;
            padding: 1rem;
            margin:0rem 1rem 2rem 1rem;
        }
        margin-bottom: 2rem;
    }
} 

/* TABLET -------------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 992px) {

    .nosotras__img {
        .nosotras__wallpaper {
        width:25rem;
        height:auto;
        }
        img{
            height:auto;
            width:20rem;
            margin:4rem 0rem 3rem 0rem;
        }
    }

}