/* Footer */

.footer {
    background-color: #a38c8c;
    margin-top:3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;

    .footer__seccion{
        @include flex(row, space-around);
        .footer__div{
            @include flex(row, flex-start);
            .footer__logo{
                height: 8rem;
                width: 8rem;
                margin-top:1rem;
            }
            .footer__slogan {
                @include slogan-font(1.5rem);
                color:$tertiary-color;
                margin: 1rem 0rem 0rem 3rem;
            }
        }
        
        .footer__seguinos{
            @include flex(row, center);
            .footer__title{
                @include tertiary-font(1.8rem);
                color: $tertiary-color;
                letter-spacing: 0.3px;
                font-weight: 400;
                margin:1rem;
            }
            a{
                text-decoration: none;
                color:$tertiary-color;
                &:hover {
                    font-weight: bold;
                    text-decoration: none; 
                    color:$secondary-color;
                }
                #instaLogo {
                    font-size: 2.4rem;
                    transition: 0.3s;
                    &:hover {
                        transform: scale(1.1,1.1)
                    }
                }
            }
        }

        .footer__escribinos{
            @include flex(row, center);
            .footer__title{
                @include tertiary-font(1.8rem);
                color: $tertiary-color;
                letter-spacing: 0.3px;
                font-weight: 400;
                margin:1rem;
            }
            a{
            text-decoration: none;
                color:$tertiary-color;
                &:hover{
                    font-weight: bold;
                    text-decoration: none; 
                    color:$secondary-color;
                }
                #whatssapLogo{
                    font-size: 2.4rem;
                        transition: 0.3s;
                        &:hover {
                            transform: scale(1.1,1.1)
                        }
                }
            }
        }

    }

}

/* MOBILE -------------------------------------------------------------------------------------*/

@media screen and (min-width: 0px) and (max-width: 767px) {
    
    .footer {
        .footer__seccion{
            @include flex(column, flex-start);
            align-items: flex-start;
            margin-left: 1rem;
            .footer__div{
                margin: 1rem;
                a{
                    padding: 0rem;
                    .footer__logo{
                        height: 8rem;
                        width: 8rem;
                    }
                }
                .footer__slogan {
                    @include slogan-font(1.4rem);
                    margin: 0rem;
                    padding: 0rem 0rem 0rem 2rem;
                    width: 70%;
                    letter-spacing: 0px;
                    word-spacing: 0px;
                    font-weight: 300;
                }
            }
            .footer__seguinos{
                .footer__title{
                    @include tertiary-font(1.5rem);
                    letter-spacing: 0.3px;
                    margin:1rem;
                }
                a{
                    #instaLogo {
                        font-size: 1.8rem;
                    }
                }
            }
            .footer__escribinos{
                .footer__title{
                    @include tertiary-font(1.5rem);
                    letter-spacing: 0.3px;
                    margin:1rem;
                }
                a{
                    #whatssapLogo {
                        font-size: 1.8rem;
                    }
                }
            }
    
        }
    
    }

}

/* TABLET -------------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 992px) {
   
    .footer{
        .footer__seccion{
            .footer__div{
                .footer__slogan {
                    @include slogan-font(1.5rem);
                    color:$tertiary-color;
                    margin: 1rem 0rem 0rem 1rem;
                }
            }
            .footer__seguinos{
                .footer__title{
                    @include tertiary-font(1.5rem);
                }
                a{
                    #instaLogo {
                        font-size: 2.2rem;
                    }
                }
                }
            .footer__escribinos{
                .footer__title{
                    @include tertiary-font(1.5rem);
                }
                a{
                    #whatssapLogo{
                        font-size: 2.4rem;
                    }
                }
            }
        }
    }

}
