.buttonStyle {
    background-color:$accent-color;
    color:$tertiary-color;
    @include main-font(1.4rem);
    padding: 0.3rem 2.5rem;
    border: 0;
    box-shadow: 1px 1px 2px $primary-color;
    letter-spacing:1.5px;
    border-radius: 5px;
    transition: 1s;
        &:hover{background-color:$detail-color;transform:scale(1.1,1.05);}
        &:active {background-color:$tertiary-color;letter-spacing: 0.3rem;}
    a { color:$tertiary-color;
        text-decoration-line: none;
            &:active{color:$detail-color;}
    }
}

/* MOBILE -------------------------------------------------------------------------------------*/

@media screen and (min-width: 0px) and (max-width: 767px) {

    .buttonStyle {
        @include main-font(1.2rem);
        padding: 0.3rem 1.3rem;
        border: 0;
        letter-spacing:.5px;
        border-radius: 5px;
        transition: 1s;
            &:hover{background-color:$detail-color;transform:scale(1.05,1.05);}
            &:active {background-color:$tertiary-color;letter-spacing: 0.3rem;}
        a { color:$tertiary-color;
            text-decoration-line: none;
                &:active{color:$detail-color;}
        }
    }

}