$background-color:#fcfbf2;
$background-color2:#f0ede8;
$primary-color:#a38c8c;
$secondary-color:#d2c2be;
$tertiary-color:whitesmoke;
$heading-color:#30170e;
$text-color:#3d2515;
$accent-color:#d39285;
$detail-color:#af7266;
$bold-color:#30170e;